<div style="text-align:center;background-color: #bdbdbd;">
  <h1 style=""> Articles</h1>
  <b class="pull-right mt-n5 mr-3"><%= link_to 'New Article', new_article_path %></b>
</div>

<div class="d-flex justify-content-center mt-5">
  <div class="row">
    <div class="col-md-12">
      <% @articles.each do |article| %>
        <article>
          <h2> <%= link_to article.title, article_path(article) %> </h2>
          <%= article.content %> 
        </article>
      <% end %>
    </div>
  </div>
</div>